@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
  height: 500px;
}

.panel {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  flex: 0.5;
  transition: flex 0.7s ease-in;
  margin: 10px;
  cursor: pointer;
}

.panel h3 {
  position: absolute;
  top: 40px;
  right: 10px;
  color: rgba(65 65 23/ 82.6%);
  width: fit-content;
  word-wrap: break-word;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5),
  .panel:nth-last-of-type(6) {
    display: none;
  }
}
